{{ form_start(degreeForm) }}
<div class="form-group">
    {{ form_row(degreeForm.name) }}
</div>
<div class="form-group">
    <button class="btn btn-primary " type="submit">Add Degree</button>
</div>
{{ form_end(degreeForm) }}